<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      body {
        background: linear-gradient(-45deg, #0062ff, #4089ff, #75aaff, #abcbff);
        background-size: 400% 100%;
        animation: gradient 5s ease infinite;

      }

      h1 {
        color: #082554;
      }

      h2 {
        color: white;
      }

      h3 {
        color: #fff64a;
      }
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
